@import "tailwindcss";

.font-sour {
  font-family: 'Lexend', sans-serif;
}

:root {
  --fondo: #1a0d0a;      /* Fondo principal más oscuro, da más contraste */
  --fondo2: #8b1e14;     /* Rojo intenso para secciones destacadas */
  --fondo3: #202020;     /* Gris oscuro limpio, para tarjetas/containers */
  --fondo4: #383838;     /* Gris medio, buen contraste con texto claro */
  
  --text1: #ffd93d;      /* Dorado brillante para títulos/detalles importantes */
  --text2: #f5f5f5;      /* Blanco humo, texto principal */
  --text3: #bfbfbf;      /* Gris claro para texto secundario */
  
  --focus: #d1401a;      /* Rojo de enfoque (hover, botones activos) */
}

.hex {
  clip-path: polygon(
    25% 0%, 
    75% 0%, 
    100% 50%, 
    75% 100%, 
    25% 100%, 
    0% 50%
  );
}

.hex-big {
  clip-path: polygon(
    10% 0%, 
    90% 0%, 
    100% 50%, 
    90% 100%, 
    10% 100%, 
    0% 50%
  );
}